* {
	// /* Non standard for WebKit */
 	word-break: break-word;

 	-webkit-hyphens: auto;
 	-moz-hyphens: auto;
 	hyphens: auto;
}



body {

}

h1, h2, h3, h4 {

}


h1 {

}

h2 {

}

h3 {

}

p {

}

strong {

}

a {
	text-decoration: none;
}
