// Breakpoints
/* ===== == = === 20em (320px) === = == ===== */
$screen-xs: "(min-width: 20em)";
/* ===== == = === 37.5em (480px) === = == ===== */
$screen-xs-sm: "(min-width: 30em)";
/* ===== == = === 37.5em (600px) === = == ===== */
$screen-sm: "(min-width: 37.5em)";
/* ===== == = === 48em (768px) === = == ===== */
$screen-md: "(min-width: 48em)";
/* ===== == = === 56.25em (900px) === = == ===== */
$screen-md-lg: "(min-width: 56.25em)";
/* ===== == = === 68.75em (1100px) === = == ===== */
$screen-lg: "(min-width: 68.75em)";
/* ===== == = === 75em (1200px) === = == ===== */
$screen-lg-xl: "(min-width: 75em)";
/* ===== == = === 81.25em (1300px) === = == ===== */
$screen-xl: "(min-width: 81.25em)";
/* ===== == = === 100em (1600px) === = == ===== */
$screen-xl-xxl: "(min-width: 100em)";
/* ===== == = === 125em (2000px) === = == ===== */
$screen-xxl: "(min-width: 125em)";
/* ===== == = === 125em (2400px) === = == ===== */
$screen-xxxl: "(min-width: 150em)";


:root {
  // colors
  --white : #fff;
  --black : #000;


  // sizes
  --ratio: 1.125;
  --base-size: 1em;

  --spacing-xs: calc( var(--base-size) / (2 * var(--ratio) ) );
  --spacing-sm: calc( var(--base-size) / var(--ratio) );
  --spacing-base: var(--base-size);
  --spacing-md: calc( var(--base-size) * var(--ratio) );
  --spacing-lg: calc( var(--base-size) * (2 * var(--ratio) ) );
  --spacing-xl: calc( var(--base-size) * (3 * var(--ratio) ) );
  --spacing-xxl: calc( var(--base-size) * (4 * var(--ratio) ) );


  --letter-spacing-sm: 0.02em;
  --letter-spacing-base: 0.04em;

  --hover-transition: all 0.25s ease-in-out;
}
