// Gutenberg Block Editor styles
body #editor .wp-block {
  max-width: 90% !important;
  margin-left: auto !important;
  margin-right: auto !important;

  .alignfull {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
