{% if menu %}
	<ul>
	{% for item in menu %}
		<li class="{{ item.classes | join(' ') }}">
			{% if item.current %}
				<span class="">{{ item.title }}</span>
			{% else %}
				<a href="{{ item.link }}" class="">{{ item.title }}</a>
			{% endif %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
